@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
}

:root {

    --font01: Verdana, Geneva, Tahoma, sans-serif;
    --font02:  'Mochiy Pop P One', sans-serif;
    --font03:  'Dancing Script', cursive;

}
body {
    background-color:red;
}