@charset "utf-8";
*{
   
 font-family:Arial, Helvetica, sans-serif;
}

body {

background-image:linear-gradient(to right,#132344,#5E7B9B) 
}

main {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #132344;
    width: 600px;
    padding: 10px;
    margin:  auto;
}

h1 {
color: #132344;
text-align: center;
text-shadow: 1px 1px 7px #6f85a7;
}

h2 {
color: #355181;

}

p {
    text-align:justify;
}